<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Robin Kötter">
	<title>Loggetta</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/starter-template/">

	<link href="css/main.css" rel="stylesheet" /><!-- TEST  TODO-->

	<!-- Favicons -->
	<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
</head>