<!doctype html>
<html lang="en">
{% include "./../rendertemplates/html_head.njk" %}
<body>

{% block content %}{% endblock %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>
